@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{

    background-color: #1A0B2E;
    overflow-x: hidden ;
}

.inter-font{

    font-family: "Inter", sans-serif;
}

.nav-bar{

     display: flex;

    align-items: center;
    justify-content: space-evenly; 
}

.btn-primary{
  padding: 10px 56px;
  border-radius: 10px;
    cursor: pointer;
    background: linear-gradient( #F7E93F , #FB09B4, #9100F8)
    
}

.btn-secondary{

  border: 1px solid #00FF88;
  color: #00FF88;
  padding: 10px 56px;
  width: 13.6rem;
  border-radius: 10px;
  cursor: pointer;

}

.span{

    background-image: linear-gradient(#F7E93F, #FB09B4);
    background-clip: text;
    color: transparent;

    

}

.hero{
    display: flex;
   justify-content: center; 
   

   
    
}

.container {
  position: relative;
  width: 100%;
  max-width: 1600px;          
  aspect-ratio: 16 / 9;      
  border-radius: 1.5rem;
  overflow: hidden;
  background: #0f071a;
  
}

.background-wave {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38%;               
  max-width: 340px;
  height: auto;
  z-index: 2;
  pointer-events: none;
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8%;               
  max-width: 200px;
  height: auto;
  z-index: 3;
  
}

.header-text {
 
    margin-bottom: 20%;
                 
  
  height: auto;
  

  
  

  
  
  }

.header-btn{

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  
}

.stat{

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    
}

.fact-number{

  font-size:xx-large;
  font-weight: 900;
}

.grid-sec{

  /* margin: 0 10.2rem; */
}


@media screen and (max-width:576px) {

 .stat{

  display: grid;
  grid-template-columns: repeat(2,1fr);


  
 }
    
    
}




